# Database Configuration
DB_CONNECTION=mysql
# Nome do serviço MySQL no docker-compose.yml (ex.: meu-app-database)
DB_HOST=project-name-database
DB_PORT=3306
DB_DATABASE=project_name_db
DB_USERNAME=user_name
DB_PASSWORD=user_password
DB_ROOT_PASSWORD=root_password
